.menu {
    background-color: white;
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    z-index: 10000;

    &__logo {
        &-svg {
            fill: black;
            width: 10rem;
            height: 3rem;
            margin: 1rem;

            @include MediaQuery(phone6) {
                width: 7.5rem;
                height: 2rem;
            }
        }
    }

    &__btn {
        margin-right: 1rem;

        width: 6%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include MediaQuery(tablet9) {
            width: 10%;
        }

        @include MediaQuery(phone6) {
            width: 12.5%;
        }
        @include MediaQuery(phone5) {
            width: 15%;
        }

        &-container {
            background: none;
            border: none;
            width: 100%;
            height: 60%;
            padding: 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transition: all .5s ease-in-out;

            &:hover {
                .menu__btn-container-1 {
                    width: 100%;
                }
                .menu__btn-container-3 {
                    width: 100%;
                }
                .menu__btn-container-2 {
                    width: 70%;
                }
                cursor: pointer;
            }

            &-1 {
                width: 70%;
                height: .20rem;
                background-color: black;
                transition: all .5s ease-in-out;
            }
            &-2 {
                width: 100%;
                height: .20rem;
                background-color: black;
                transition: all .5s ease-in-out;
            }
            &-3 {
                width: 70%;
                height: .20rem;
                background-color: black;
                transition: all .5s ease-in-out;
            }
        }
    }

    .centerEl {
        animation: center 0s linear normal forwards;
    }
    .hideEl {
        animation: hide 0s linear normal forwards;
    }
    .rotateAddEl {
        animation: rotate45 0s linear normal forwards;
    }
    .rotateMinusEl {
        animation: rotate-45 0s linear normal forwards;
    }
    .moveLeft {
        animation: moveLeft .5s linear normal forwards;
    }
    .moveRight {
        animation: moveRight .5s linear normal forwards;
    }

    @keyframes moveLeft {
        0% {
            right: -100%;
        }
        100% {
            right: 0;
        }
    }
    @keyframes moveRight {
        0% {
            right: 0;
        }
        100% {
            right: -100%;
        }
    }

    @keyframes center {
        0% {
            justify-content: space-evenly;
        }
        100% {
            justify-content: center;
        }
    }
    @keyframes hide {
        0% {
            opacity: 1;
            width: 6rem;
            position: absolute;
        }
        100% {
            position: absolute;
            opacity: 0;
            width: 6rem;
        }
    }
    @keyframes rotate45 {
        0% {
            width: 4rem;
            transform: rotate(0deg);
        }
        100% {
            width: 4rem;
            position: absolute;
            transform: rotate(45deg);
        }
    }
    @keyframes rotate-45 {
        0% {
            width: 4rem;
            transform: rotate(0deg);
        }
        100% {
            width: 4rem;
            position: absolute;
            transform: rotate(-45deg);
        }
    }

    &__buttons {
        position: fixed;
        top: 5.25rem;
        right: -100%;
        width: 20rem;
        height: auto;
        background-color: white;

        @include MediaQuery(phone6) {
            top: 4.25rem;
            width: 100%;
        }

        &-home {
            display: flex;
            flex-direction: column;

            &>button {
                background: none;
                border: none;
                padding: 1rem;
                font-family: 'Lato';
                font-size: 1.2rem;
                text-align: left;
                border-left: 1px solid black;
                display: flex;
                align-items: center;
                fill: black;
                transition: all .5s ease-in-out;
                &>svg {
                    margin: 0;
                    padding: 0;
                    width: 1.5rem;
                    height: 1.5rem;
                }
                @include MediaQuery(phone6) {
                    border-left: 0px solid black;
                }
                &:last-child {
                    border-bottom: 1px solid black;
                }
                &:not(:first-child) {
                    border-top: 1px solid black;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to top right, #0081FF, #0047FF);
                    color: white;
                    fill: white;
                }
            }

            .submenu {
                width: 100%;
                display: flex;
                flex-direction: column;
                z-index: 10001;
                right: -100%;

                &>button {
                    background-color: rgb(184, 184, 184);
                    border: none;
                    padding: 1rem;
                    font-family: 'Lato';
                    font-size: 1.2rem;
                    text-align: left;
                    border-left: 1px solid black;
                    display: flex;
                    align-items: center;
                    fill: black;
                    transition: all .5s ease-in-out;
                    @include MediaQuery(phone6) {
                        border-left: 0px solid black;
                    }
                    &>svg {
                        margin: 0;
                        padding: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    &:last-child {
                        border-bottom: 1px solid black;
                    }
                    &:not(:first-child) {
                        border-top: 1px solid black;
                    }

                    &:first-child {
                        display: flex;
                        justify-content: space-between;
                    }
    
                    &:hover {
                        cursor: pointer;
                        background-color: #0081FF;
                        color: white;
                        fill: white;
                    }
                }
            }

            &-submenuDoor {
                position: absolute;
                top: 0;
            }
            &-submenuPaint {
                position: absolute;
                top: 0;
            }
            &-submenuProducts {
                position: absolute;
                top: 0;
            }
            &-submenuServices {
                position: absolute;
                top: 0;
            }
        }
    }
}







